@model IEnumerable<CoffeeShopViewModel>
@{
    ViewData["Title"] = "CoffeMain";
}

<div class="container">

    <header style="color: brown">Coffee Shop with all you favorite flavors</header>

    @foreach (var item in Model)
    {
        <ol>
            <li><a asp-action="CoffeeEdit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a></li>
            <li>@Html.ActionLink(item.ProductName, "CoffeeDetails", new {id = item.Id})</li>
            <li>Sort: @item.ProductCategory</li>
            <li>@item.ProductRating stars</li>
            <li><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning">Delete</a></li>
        </ol>
    }
</div>
<div class="container">
    <a asp-action="Edit" class="btn btn-success">Add</a>
    @Html.ActionLink("Вернуться назад", "Index", "Home")
</div>