@model IEnumerable<WorkerViewModel>

@{
    ViewData["Title"] = "Workers";
    var isAdmin = User.IsInRole("Admin");
}
<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Workers</title>
</head>
<div class="container">

@foreach (var item in Model)
{
    <ol>
        @if(isAdmin)
    {
        <li><a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a></li>
    }
        <li>@Html.ActionLink(item.FirstName, "WorkerDetails", new {id = item.Id}) @item.SurName</li>
        <li>Возраст: @item.Age</li>
        @if (isAdmin)
        {
            <li><a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-warning">Delete</a></li>
        }
    </ol>
}
</div>

@if (isAdmin)
{
    <div class="container">
        <a asp-action="Edit" class="btn btn-success">Add</a>
    </div>
}
<div class="container">
    @Html.ActionLink("Вернуться назад", "Index", "Home")
</div>
